/PadreApp/nbproject/private/
/PadreApp/build/
/ControlEscolar/dist/
/ConexionControlEscolar/nbproject/private/
/ConexionControlEscolar/dist/
/ConexionControlEscolar/build/
/ServicioMensajeria/nbproject/private/
/ServicioMensajeria/build/
/ServicioUsuarios/build/
/GatewayAPI/build/
/GatewayAPI/dist/
/ServicioCalificaciones/dist/
/ServicioMensajeria/dist/
/ServicioUsuarios/dist/